{% extends 'base.html' %}
{% block body %}

<script src="{{ url_for('static', filename='js/validarContrasena.js') }}"></script>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registra tus productos:</h3>

            <form action="/updateProducto/{{produ.0}}" method="POST">

              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="idProducto" class="form-label">Código Producto</label>
                  <input type="text" name="idProducto" class="form-control" id="idProducto"  value="{{produ.0}}" readonly>
                </div>

                <div class="col-md-6 mb-4">
                  <label for="nombreProducto" class="form-label">Nombre Producto</label>
                  <input type="text" name="nombreProducto" class="form-control" id="nombreProducto"  value="{{produ.1}}" required>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="descripcion" class="form-label">Descripción</label>
                  <input type="text" name="descripcion" class="form-control" id="descripcion"  value="{{produ.2}}" required>
                </div>
                
                <div class="col-md-6 mb-4">
                  <label for="unidades" class="form-label">Unidades</label>
                  <input type="number" name="unidades" class="form-control" id="unidades"  value="{{produ.3}}" required>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="precio" class="form-label">Precio</label>
                  <input type="number" name="precio" class="form-control" id="precio"  value="{{produ.4}}" required>
                </div>

          

              <div class="mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg" onclick="return confirm('¿Estás seguro de que deseas editar este producto?')">Actualizar</button>
              </div>
              <a href="/listaProducto">atras</a>
   
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
